src/xsd/candidatures.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Candidatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Candidature" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Nom"/>
              <xs:element type="xs:string" name="Prenom"/>
              <xs:element type="xs:string" name="Email"/>
              <xs:element type="xs:int" name="Tel"/>
              <xs:element type="xs:string" name="Description"/>
              <xs:element type="xs:string" name="Experience"/>
              <xs:element type="xs:string" name="Disponibilite"/>
              <xs:element type="xs:string" name="Matiere"/>
              <xs:element type="xs:string" name="PieceJointe"/>
              <xs:element type="xs:byte" name="Tarif"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
