src/annonces.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Annonces">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Annonce" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Nom"/>
              <xs:element type="xs:string" name="Prenom"/>
              <xs:element type="xs:string" name="date_debut"/>
              <xs:element type="xs:string" name="date_fin"/>
              <xs:element type="xs:byte" name="tarif"/>
              <xs:element type="xs:byte" name="nombre"/>
              <xs:element type="xs:string" name="matiere"/>
              <xs:element type="xs:string" name="niveau"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>