src/inscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="inscription">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="Nom" type="xs:string" />
          <xs:element name="Prenom" type="xs:string" />
          <xs:element name="DateNaissance" type="xs:date" />
          <xs:element name="Email" type="xs:string" />
          <xs:element name="EmailConf" type="xs:string" />
          <xs:element name="Tel" type="xs:integer"/>
          <xs:element name="MotPasse" type="xs:token" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:schema>