src/utilisateurs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Utilisateurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utilisateur" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Prenom"/>
              <xs:element type="xs:string" name="Nom"/>
              <xs:element type="xs:string" name="Date_de_naissance"/>
              <xs:element type="xs:string" name="Mail"/>
              <xs:element type="xs:int" name="Numero_de_tel"/>
              <xs:element type="xs:string" name="Presentation"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>